* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100%;
  background-color: #1a1a1a;
}

.backgroundLine {
  position: absolute;
  pointer-events: none;
  backdrop-filter: blur(7px);
  animation: lineAnimation 15s linear forwards;
}
.backgroundLine .backgroundCircle {
  position: absolute;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  animation: circleAnimation 15s linear forwards;
}

/* @for $i from 1 through 10 {
    $lineHeight: random(20) + 10;
    $lineWidth: math.div($lineHeight, 3);

    .backgroundLine:nth-of-type({$i}) {
        height: $lineHeight + vh;
        width: $lineWidth + vh;
        background-color: #0c0c0c;
        border-radius: $lineHeight + math.div($lineHeight, 10) + vh;
        border: 0.3vh solid rgba(60, 226, 129, 0.4);
        position: absolute;
        top: (random(125)-25%);
        left: (random(100)+5%);
        animation: lineAnimation 7s linear;
        box-shadow: inset 0 -0.5vh 1vh #3CE2814d,
                    0 1vh 1.5vh #000c,
                    inset 0 1vh 1.5vh #000c;

        .backgroundCircle {
            height: $lineWidth + vh;
            width: $lineWidth + vh;
            background-color: #3ce281b3;
            border-radius: 50%;
            position: absolute;
            top: 0;
        }
    }
} */
@keyframes lineAnimation {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotate(225deg);
    -moz-transform: translateX(0) translateY(0) rotate(225deg);
    -ms-transform: translateX(0) translateY(0) rotate(225deg);
    transform: translateX(0) translateY(0) rotate(225deg);
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-80vh) translateY(55vh) rotate(225deg);
    -moz-transform: translateX(-80vh) translateY(55vh) rotate(225deg);
    -ms-transform: translateX(-80vh) translateY(55vh) rotate(225deg);
    transform: translateX(-80vh) translateY(55vh) rotate(225deg);
    opacity: 0;
  }
}
@keyframes circleAnimation {
  0% {
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#board {
  height: 60vh;
  width: 60vh;
  position: absolute;
  display: grid;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  grid-template-columns: auto auto auto auto;
  background-color: transparent;
  backdrop-filter: blur(2px);
  overflow: hidden;
  min-height: 0;
  min-width: 0;
}

.cell {
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #18a051;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-width: 0;
}

.tile {
  height: 75%;
  width: 75%;
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .blackside, .whiteside {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.blackside {
    background-color: transparent;
    color: black;
}

.whiteside {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
} */
.black {
  background-color: #000;
  border-radius: 50%;
}

.white {
  background-color: #fff;
  border-radius: 50%;
}

.validMove {
  background-color: #dddddd4d;
  border-radius: 50%;
}

.validMove:hover {
  background-color: #eeeeeebb;
}

.scoreboardContainer {
  height: 11vh;
  width: 55vh;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.scoreboard {
  display: flex;
  height: 10vh;
  width: 25vh;
  position: absolute;
  border-radius: 2vh;
  backdrop-filter: blur(4px);
  background-color: transparent;
  border: 0.3vh solid #18a051;
  color: #fff;
  font-size: 3vh;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

#playerScore {
  left: 0;
}

#AIScore {
  right: 0;
}

#announcer {
  display: flex;
  height: 15vh;
  width: 35vh;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 2vh;
  backdrop-filter: blur(4px);
  background-color: transparent;
  border: 0.3vh solid #18a051;
  color: #fff;
  font-size: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.help {
  display: flex;
  overflow: visible;
  position: absolute;
  top: 5%;
  right: 1%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.help i {
  color: #fff;
  font-size: 5vh;
  overflow: visible;
}
.help i:hover {
  cursor: pointer;
  text-shadow: 0.1vh 0.1vh 0.2vh #fff;
}

#rules {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #000d;
  backdrop-filter: blur(5px);
}
#rules p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vh;
  padding: 2vh 5vh;
}
#rules .rulesTitle {
  padding-top: 2vh;
  font-size: 5vh;
  text-align: center;
}
#rules #gotIt {
  display: flex;
  height: 5vh;
  width: 15vh;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 2vh;
  border: 0.3vh solid #18a051;
  color: #fff;
  font-size: 3vh;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}
#rules #gotIt:hover {
  border: 0.4vh solid #fff;
}

.hidden {
  visibility: hidden;
}

.hideRules {
  animation: hideRulesAnimation 1.3s ease-in forwards;
}

.showRules {
  animation: showRulesAnimation 1.3s ease-out forwards;
}

#cell0-1 {
  grid-row: 1;
  grid-column: 2;
}

#cell0-2 {
  grid-row: 1;
  grid-column: 3;
}

#cell0-3 {
  grid-row: 1;
  grid-column: 4;
}

#cell0-4 {
  grid-row: 1;
  grid-column: 5;
}

#cell0-5 {
  grid-row: 1;
  grid-column: 6;
}

#cell0-6 {
  grid-row: 1;
  grid-column: 7;
}

#cell0-7 {
  grid-row: 1;
  grid-column: 8;
}

#cell1-1 {
  grid-row: 2;
  grid-column: 2;
}

#cell1-2 {
  grid-row: 2;
  grid-column: 3;
}

#cell1-3 {
  grid-row: 2;
  grid-column: 4;
}

#cell1-4 {
  grid-row: 2;
  grid-column: 5;
}

#cell1-5 {
  grid-row: 2;
  grid-column: 6;
}

#cell1-6 {
  grid-row: 2;
  grid-column: 7;
}

#cell1-7 {
  grid-row: 2;
  grid-column: 8;
}

#cell2-1 {
  grid-row: 3;
  grid-column: 2;
}

#cell2-2 {
  grid-row: 3;
  grid-column: 3;
}

#cell2-3 {
  grid-row: 3;
  grid-column: 4;
}

#cell2-4 {
  grid-row: 3;
  grid-column: 5;
}

#cell2-5 {
  grid-row: 3;
  grid-column: 6;
}

#cell2-6 {
  grid-row: 3;
  grid-column: 7;
}

#cell2-7 {
  grid-row: 3;
  grid-column: 8;
}

#cell3-1 {
  grid-row: 4;
  grid-column: 2;
}

#cell3-2 {
  grid-row: 4;
  grid-column: 3;
}

#cell3-3 {
  grid-row: 4;
  grid-column: 4;
}

#cell3-4 {
  grid-row: 4;
  grid-column: 5;
}

#cell3-5 {
  grid-row: 4;
  grid-column: 6;
}

#cell3-6 {
  grid-row: 4;
  grid-column: 7;
}

#cell3-7 {
  grid-row: 4;
  grid-column: 8;
}

#cell4-1 {
  grid-row: 5;
  grid-column: 2;
}

#cell4-2 {
  grid-row: 5;
  grid-column: 3;
}

#cell4-3 {
  grid-row: 5;
  grid-column: 4;
}

#cell4-4 {
  grid-row: 5;
  grid-column: 5;
}

#cell4-5 {
  grid-row: 5;
  grid-column: 6;
}

#cell4-6 {
  grid-row: 5;
  grid-column: 7;
}

#cell4-7 {
  grid-row: 5;
  grid-column: 8;
}

#cell5-1 {
  grid-row: 6;
  grid-column: 2;
}

#cell5-2 {
  grid-row: 6;
  grid-column: 3;
}

#cell5-3 {
  grid-row: 6;
  grid-column: 4;
}

#cell5-4 {
  grid-row: 6;
  grid-column: 5;
}

#cell5-5 {
  grid-row: 6;
  grid-column: 6;
}

#cell5-6 {
  grid-row: 6;
  grid-column: 7;
}

#cell5-7 {
  grid-row: 6;
  grid-column: 8;
}

#cell6-1 {
  grid-row: 7;
  grid-column: 2;
}

#cell6-2 {
  grid-row: 7;
  grid-column: 3;
}

#cell6-3 {
  grid-row: 7;
  grid-column: 4;
}

#cell6-4 {
  grid-row: 7;
  grid-column: 5;
}

#cell6-5 {
  grid-row: 7;
  grid-column: 6;
}

#cell6-6 {
  grid-row: 7;
  grid-column: 7;
}

#cell6-7 {
  grid-row: 7;
  grid-column: 8;
}

#cell7-1 {
  grid-row: 8;
  grid-column: 2;
}

#cell7-2 {
  grid-row: 8;
  grid-column: 3;
}

#cell7-3 {
  grid-row: 8;
  grid-column: 4;
}

#cell7-4 {
  grid-row: 8;
  grid-column: 5;
}

#cell7-5 {
  grid-row: 8;
  grid-column: 6;
}

#cell7-6 {
  grid-row: 8;
  grid-column: 7;
}

#cell7-7 {
  grid-row: 8;
  grid-column: 8;
}

@keyframes showRulesAnimation {
  0% {
    height: 0vh;
    width: 100%;
  }
  100% {
    height: 45vh;
    width: 100%;
  }
}
@keyframes hideRulesAnimation {
  0% {
    height: 45vh;
    width: 100%;
  }
  100% {
    height: 0vh;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
