// @use "sass:math"; // Used before changing background line styles to JavaScript

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

main {
    height: 100vh;
    width: 100%;
    background-color: #1a1a1a;
}

.backgroundLine {
    position: absolute;
    pointer-events: none;
    backdrop-filter: blur(7px);
    animation: lineAnimation 15s linear forwards;

    .backgroundCircle {
        position: absolute;
        top: 0;
        border-radius: 50%;
        pointer-events: none;
        animation: circleAnimation 15s linear forwards;
    }
}

// Moved everything to JavaScript generation or scss fixed styles
/* @for $i from 1 through 10 {
    $lineHeight: random(20) + 10;
    $lineWidth: math.div($lineHeight, 3);

    .backgroundLine:nth-of-type({$i}) {
        height: $lineHeight + vh;
        width: $lineWidth + vh;
        background-color: #0c0c0c;
        border-radius: $lineHeight + math.div($lineHeight, 10) + vh;
        border: 0.3vh solid rgba(60, 226, 129, 0.4);
        position: absolute;
        top: (random(125)-25%);
        left: (random(100)+5%);
        animation: lineAnimation 7s linear;
        box-shadow: inset 0 -0.5vh 1vh #3CE2814d,
                    0 1vh 1.5vh #000c,
                    inset 0 1vh 1.5vh #000c;

        .backgroundCircle {
            height: $lineWidth + vh;
            width: $lineWidth + vh;
            background-color: #3ce281b3;
            border-radius: 50%;
            position: absolute;
            top: 0;
        }
    }
} */

@keyframes lineAnimation {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(225deg);
        -moz-transform: translateX(0) translateY(0) rotate(225deg);
        -ms-transform: translateX(0) translateY(0) rotate(225deg);
        transform: translateX(0) translateY(0) rotate(225deg);
        opacity: 0;
    }

    15%, 85% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-80vh) translateY(55vh) rotate(225deg);
        -moz-transform: translateX(-80vh) translateY(55vh) rotate(225deg);
        -ms-transform: translateX(-80vh) translateY(55vh) rotate(225deg);
        transform: translateX(-80vh) translateY(55vh) rotate(225deg);
        opacity: 0;
    }
}

@keyframes circleAnimation {
    0% {
        opacity: 0;
    }

    15%, 85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}