$green: #3CE281;
$darkgreen: darken($green, 20%);

#board {
    height: 60vh;
    width: 60vh;
    position: absolute;
    display: grid;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    grid-template-columns: (auto auto auto auto);
    background-color: transparent;
    backdrop-filter: blur(2px);
    overflow: hidden;
    min-height: 0;
    min-width: 0;
}

.cell {
    background-clip: padding-box;
    border: 2px solid rgba(0,0,0,0);
    background-color: $darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-width: 0; // Needed for Firefox
}

.tile {
    height: 75%;
    width: 75%;
    border-radius: 50%;
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.black {
    background-color: #000;
    border-radius: 50%;
}

.white {
    background-color: #fff;
    border-radius: 50%;
}

.validMove {
    background-color: #dddddd4d;
    border-radius: 50%;
}

.validMove:hover {
    background-color: #eeeeeebb;
    cursor: pointer;
}

.scoreboardContainer {
    height: 11vh;
    width: 55vh;
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.scoreboard {
    display: flex;
    height: 10vh;
    width: 25vh;
    position: absolute;
    border-radius: 2vh;
    backdrop-filter: blur(4px);
    background-color: transparent;
    border: 0.3vh solid $darkgreen;
    color: #fff;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

#playerScore {
    left: 0;
}

#AIScore {
    right: 0;
}

#announcer {
    display: flex;
    height: 15vh;
    width: 35vh;
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 2vh;
    backdrop-filter: blur(4px);
    background-color: transparent;
    border: 0.3vh solid $darkgreen;
    color: #fff;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.help {
    display: flex;
    overflow: visible;
    position: absolute;
    top: 5%;
    right: 1%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    i {
        color: #fff;
        font-size: 5vh;
        overflow: visible;
    }
    
    i:hover {
        cursor: pointer;
        text-shadow: 0.1vh 0.1vh 0.2vh #fff;
    }
}

#rules {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #000d;
    backdrop-filter: blur(5px);

    p {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5vh;
        padding: 2vh 5vh;
    }

    .rulesTitle {
        padding-top: 2vh;
        font-size: 5vh;
        text-align: center;
    }

    #gotIt {
        display: flex;
        height: 5vh;
        width: 15vh;
        position: absolute;
        top: 90%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 2vh;
        border: 0.3vh solid $darkgreen;
        color: #fff;
        font-size: 3vh;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: center;
        align-items: center;
    }

    #gotIt:hover {
        border: 0.4vh solid #fff;
        cursor: pointer;
    }
}

.hidden {
    visibility: hidden;
}

.hideRules {
    animation: hideRulesAnimation 1.3s ease-in forwards;
}

.showRules {
    animation: showRulesAnimation 1.3s ease-out forwards;
}

.playAgain:hover {
    cursor: pointer;
    border: 0.4vh solid #fff;
}

@for $i from 0 through 7 {
    @for $j from 0 through 7 {
        #cell#{$i}-#{$j} {
            grid-row: #{$i+1};
            grid-column: #{$j+1};
        }
    }
}

@keyframes showRulesAnimation {
    0% {
        height: 0vh;
        width: 100%;
    }

    100% {
        height: 45vh;
        width: 100%;
    }
}

@keyframes hideRulesAnimation {
    0% {
        height: 45vh;
        width: 100%;
    }

    100% {
        height: 0vh;
        width: 100%;
    }
}